@use 'styles/media';
@use 'styles/mixins';
@use 'styles/colors';

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 0;
  overflow: hidden;

  @include media.onLg() {
    overflow: visible;
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;

  @include media.onSm() {
   flex-direction: row;
  }

  @include media.onLg() {
    flex-direction: row;
    align-items: center;

    & > * {
      flex-basis: 50%;
    }
  }
}

.title {
  font-size: 32px;
  color: colors.$white-1000;
  margin-bottom: 20px;
  
  @include media.onSm() {
    @include mixins.H2;
  }

  @include media.onLg() {
    @include mixins.H1;
  }
}

.subtitle {
  font-size: 16px;
  color: colors.$white-1000;
  margin-bottom: 20px;
  line-height: 150%;

  @include media.onLg() {
    @include mixins.Body1;
    margin-bottom: 40px;
  }
}

.indicators {
  display: flex;
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  right: 30px;

  @include media.onLg() {
    position: relative;
    right: 0;
  }

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.imageContainer {
  z-index: -1;
  display: flex;
  align-items: center;
  height: 350px;

  @include media.onSm() {
    height: auto;
  }
}

.image {
  height: 460px;
  
  @include media.onLg() {
    height: auto;
    transform: translateY(-50%);
  }
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  &-0 {
    transform: translateY(10%);
    @include media.onLg() {
      transform: translateY(-10%);
    }
  }
  &-1 {
    transform: translate(-10%, -9%);
    @include media.onLg() {
      transform: translate(-15%, 5%);
    }
  }
  &-2 {
    transform: translateY(-5%);
    @include media.onLg() {
      transform: translateY(15%);
    }
  }
}

.slider {
  position: absolute;
  display: flex;
  align-items: center;
  
  @include media.onLg() {
    align-items: initial;
    height: 800px;
    top: -220px;
  }
}

.header {
  padding-bottom: 30px;

  @include media.onSm() {
    flex-basis: 60%;
  }

  @include media.onLg() {
    flex-basis: 50%;
    padding-bottom: 160px;
  }
}
