@use './colors';
@use './fonts';
@use './media';

@mixin Text {
  font-size: 2rem;
  line-height: 24px;
}

@mixin ItalicText {
  @include Text;
  font-style: italic;
}

@mixin BigText {
  font-size: 4rem;
  line-height: 48px;
}

@mixin MiddleText {
  font-size: 2.4rem;
  line-height: 28px;
  font-weight: 400;
}

@mixin SmallText {
  font-size: 1.6rem;
  line-height: 20px;
}

// Titles

@mixin H1 {
  // Hero Headers
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 110%;
}

@mixin H2 {
  // Landing Headers, Stats/Numbers
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 120%;
}
@mixin H3 {
  // Sub Headers, Responsive Main Headers
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}
@mixin H4 {
  // Tab Headers, Block Titles
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 130%;
}

// Body

@mixin Body1 {
  // Paragraphs
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

@mixin Body2 {
  // Casestudies page paragraphs
  font-size: 21px;
  font-weight: 400;
  line-height: 150%;
}

// Buttons

@mixin Button {
  // Buttons
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;

  @include media.onDesktop() {
    font-size: 18px;
  }
}

@mixin Navigation {
  // Main Navigation
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: colors.$white-1000;
}

@mixin TileTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

@mixin TileBody {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  @include media.onLg() {
    font-size: 18px;
    line-height: 27px;
  }
}

// Testimonials

@mixin Testimonial {
  // Manufacturers and Casestudy pages
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 150%;
  color: colors.$grey-700;
}

@mixin transition($props...) {
  $result: ();

  @for $i from 1 through length($props) {
    $prop: nth($props, $i);
    $result: append($result, $prop);
    $result: append($result, ease 300ms);

    @if $i != length($props) {
      $result: append(
        $result,
        unquote(
          $string: ',',
        )
      );
    }
  }

  transition: $result;
}

// ####

// @mixin SmallTitle {
//   font-size: 4rem;
//   line-height: 48px;
// }

// @mixin SmallerTitle {
//   font-size: 2.8rem;
//   font-weight: 500;
//   line-height: 34px;
// }

// @mixin ItalicH1 {
//   @include H1;
//   font-style: italic;
// }

// @mixin H2 {
//   font-size: 3.5rem;
//   font-weight: 400;
//   line-height: 60px;
// }

// @mixin H3 {
//   font-size: 3rem;
//   font-weight: 500;
//   line-height: 48px;
// }

// @mixin ItalicH3 {
//   @include H3;
//   font-style: italic;
// }

// @mixin H4 {
//   font-size: 3rem;
//   font-weight: 400;
//   line-height: 36px;
// }

// @mixin H5 {
//   font-size: 2rem;
//   font-weight: 600;
//   line-height: 24px;
// }

// @mixin SectionPadding {
//   padding: 8rem 0;
//   @include media.onLg() {
//     padding: 12rem 0;
//   }
// }
