@use 'styles/colors';
@use 'styles/mixins';
@use 'styles/media';

.container {
  background-color: colors.$grey-100;
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  padding: 60px 0;

  @include media.onLg() {
    display: flex;
    flex-direction: row-reverse;
    padding: 132px 0;

    & > * {
      max-width: 50% !important;
      width: 100%;
    }
  }
}

.title {
  margin-bottom: 20px;
  font-size: 32px;

  @include media.onLg() {
    font-size: 54px;
  }
}

.contentWrapper {
  & > * {
    margin: 0;
    margin-left: auto;
  }

  @include media.onLg() {
    box-sizing: border-box;
    padding-right: 84px !important;
  }

  .sliderNav {
    max-width: 100%;
    @include media.onLg() {
      max-width: 600px;
    }
  }
}

.content {
  margin: 30px 0;
}

.contentTitle {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: 700;

  @include media.onLg() {
    font-size: 24px;
  }
}

.contentText {
  font-size: 16px;
  line-height: 24px;

  @include media.onLg() {
    font-size: 18px;
    line-height: 27px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imageContainer {
  width: 100%;
  height: 250px;
  position: relative;
  animation: fadeIn linear 0.3s;
  width: 100%;

  @include media.onLg() {
    height: 454px;
  }
}

.iconsContainer {
  display: flex;
  white-space: nowrap;
  position: relative;
  width: 100%;
  overflow: auto hidden;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  @include media.onLg() {
    overflow: initial;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.iconControl {
  position: relative;
  border-radius: 8px;
  background-color: colors.$white-1000;
  color: colors.$grey-500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;

  @include mixins.transition(background-color, color);

  & img {
    padding: 10px !important;
    filter: invert(45%) sepia(13%) saturate(394%) hue-rotate(182deg)
      brightness(96%) contrast(91%);
  }

  &:hover {
    .tooltip {
      display: block;
    }
    img {
      filter: invert(32%) sepia(77%) saturate(1333%) hue-rotate(188deg)
        brightness(94%) contrast(97%);
    }
  }

  &:focus img {
    filter: invert(1);
  }

  &-active {
    background-color: colors.$blue-400;
    img {
      filter: invert(1);
    }
    pointer-events: none;
  }

  @include media.onSm() {
    width: 72px;
    height: 72px;

    & img {
      padding: 15px !important;
    }
  }
}

.tooltip {
  display: none;
  background-color: colors.$grey-600;
  border-radius: 2px;
  position: absolute;
  top: -30px;
  color: colors.$white;
  padding: 4px 7px;
  border: 1px solid #4b5563;
  font-size: 11px;
  line-height: 13px;

  & > .arrow:before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    bottom: -4px;
    border: 5px solid transparent;
    border-bottom: 0;
    border-top: 5px solid colors.$grey-600;
    left: 50%;
    transform: translateX(-50%);
  }
}
